.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#bntCadastro{
  padding: 10px;
 background-color: green;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#bntEditar{
  padding: 10px;
 background-color: blue;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#bntExcluir{
  padding: 10px;
 background-color: red;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}


h1,h2{
  text-align: center;
 color: white;
}

form {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 10px auto;
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 5px;
  background-color: #bbbbbb;
}

label {
  margin-bottom: 5px;
}



button {
  color: white;
  cursor: pointer;
}

#tabela-objetos {
  width: 100%;
  border-collapse: collapse;
}

#tabela-objetos th,
#tabela-objetos td {
  padding: 5px;
  text-align: left;
  
}

/*
ONDE FICA OS ATRIBUTOS DA TABELA 
*/
#tabela-objetos th {
  background-color: #bbbbbb;
}

/*
BOTOES DA TABELA 
*/
#tabela-objetos button {
  padding:  10x;
  cursor: pointer;
 

}



.texto {
 background-color: rgb(0, 0, 0);
 height: 12%;
 width: 100%;
}

b{
  font-family: sans-serif;
}

